Repository SoftwareCountry/arcadian-assistant, pull requests merged in 2018-03, with the labels that each got.

#66 Feature/calendar interval boundary
  mobile/src/calendar/calendar-page-interval-boundary.tsx
  mobile/src/calendar/calendar-page-interval.tsx
  mobile/src/calendar/calendar-page-weekday.tsx
  mobile/src/calendar/calendar-page.tsx
  mobile/src/calendar/styles.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.spec.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.model.ts
Labels: calendar view, mobile

#67 Feature/birthdays and anniverseries
  mobile/src/reducers/feeds/feeds.action.ts
  server/Arcadia.Assistant.Feeds/Arcadia.Assistant.Feeds.csproj
  server/Arcadia.Assistant.Feeds/DailyPollWasRunEvent.cs
  server/Arcadia.Assistant.Feeds/DailyPollsActor.cs
  server/Arcadia.Assistant.Feeds/Polls/EmployeeAnniverseryPoll.cs
  server/Arcadia.Assistant.Feeds/Polls/EmployeeBirthdaysPoll.cs
  server/Arcadia.Assistant.Feeds/Polls/EmployeesPoll.cs
  server/Arcadia.Assistant.Feeds/Polls/PerformPoll.cs
  server/Arcadia.Assistant.Feeds/SharedFeedsActor.cs
  server/Arcadia.Assistant.Organization.Abstractions/OrganizationRequests/DateQuery.cs
  server/Arcadia.Assistant.Organization.Abstractions/OrganizationRequests/EmployeesQuery.cs
  server/Arcadia.Assistant.Organization/EmployeeSearch.cs
  server/Arcadia.Assistant.Server/ActorSystemBuilder.cs
Labels: server

#68 Feature/calendar adding intervals
  mobile/src/calendar/agenda.tsx
  mobile/src/calendar/calendar-action-button.tsx
  mobile/src/calendar/calendar-actions-button-group.tsx
  mobile/src/calendar/calendar-legend.tsx
  mobile/src/calendar/calendar-page-interval-boundary.tsx
  mobile/src/calendar/calendar-page-interval.tsx
  mobile/src/calendar/calendar-page-weekday.tsx
  mobile/src/calendar/calendar-page.tsx
  mobile/src/calendar/calendar-pager.tsx
  mobile/src/calendar/calendar.tsx
  mobile/src/calendar/dayoff-action-button.tsx
  mobile/src/calendar/event-dialog/event-dialog.tsx
  mobile/src/calendar/sick-leave-action-button.tsx
  mobile/src/calendar/styles.ts
  mobile/src/calendar/vacation-action-button.tsx
  mobile/src/reducers/calendar/calendar-events.reducer.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.spec.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.ts
  mobile/src/reducers/calendar/calendar-intervals-model.spec.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.model.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.model.ts
  mobile/src/reducers/calendar/sick-leave-dialog-config.ts
  mobile/src/reducers/calendar/sick-leave.action.ts
  mobile/src/reducers/calendar/sick-leave.reducer.spec.ts
  mobile/src/reducers/calendar/sick-leave.reducer.ts
Labels: calendar view, mobile

#72 Feature/calendar events workflows
  server/Arcadia.Assistant.CSP/CspEmployeesInfoStorage.cs
  server/Arcadia.Assistant.Calendar.Abstractions/CalendarEvent.cs
  server/Arcadia.Assistant.Calendar.Abstractions/CalendarEventTypes.cs
  server/Arcadia.Assistant.Calendar.Abstractions/Messages/UpsertCalendarEvent.cs
  server/Arcadia.Assistant.Calendar/EmployeeCalendarActor.cs
  server/Arcadia.Assistant.Feeds/Polls/EmployeeBirthdaysPoll.cs
  server/Arcadia.Assistant.Feeds/SharedFeedsActor.cs
  server/Arcadia.Assistant.Organization.Abstractions/EmployeeMetadata.cs
  server/Arcadia.Assistant.Organization.Abstractions/OrganizationRequests/EmployeesQuery.cs
  server/Arcadia.Assistant.Organization/EmployeeSearch.cs
  server/Arcadia.Assistant.Web/Controllers/CalendarEventsController.cs
  server/Arcadia.Assistant.Web/Controllers/CalendarEventsWorkflowMetadataController.cs
  server/Arcadia.Assistant.Web/Controllers/EmployeesController.cs
  server/Arcadia.Assistant.Web/Controllers/UserController.cs
  server/Arcadia.Assistant.Web/Employees/EmployeesSearch.cs
  server/Arcadia.Assistant.Web/Employees/IEmployeesSearch.cs
  server/Arcadia.Assistant.Web/Infrastructure/JwtEventsHandler.cs
  server/Arcadia.Assistant.Web/Models/Calendar/CalendarEventStatus.cs
  server/Arcadia.Assistant.Web/Models/Calendar/CalendarEventStatusValidator.cs
  server/Arcadia.Assistant.Web/Models/Calendar/CalendarEventType.cs
  server/Arcadia.Assistant.Web/Models/Calendar/CalendarEventTypeValidator.cs
  server/Arcadia.Assistant.Web/Models/Calendar/CalendarEventsModel.cs
  server/Arcadia.Assistant.Web/Models/Calendar/CalendarEventsWithIdModel.cs
  server/Arcadia.Assistant.Web/Models/Calendar/StatusSwaggerSchemaFilter.cs
  server/Arcadia.Assistant.Web/Startup.cs
  server/Arcadia.Assistant.Web/Users/IUserEmployeeSearch.cs
  server/Arcadia.Assistant.Web/Users/MockUserEmployeeSearch.cs
Labels: server

#73 Support for 'head' department
  server/Arcadia.Assistant.CSP/CspDepartmentsStorage.cs
  server/Arcadia.Assistant.Organization.Abstractions/DepartmentInfo.cs
  server/Arcadia.Assistant.Organization.Abstractions/DepartmentTree.cs
Labels: server

#75 Feature/oauth
  mobile/.babelrc
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/ios/ArcadiaAssistant.xcodeproj/project.pbxproj
  mobile/ios/ArcadiaAssistant/AppDelegate.m
  mobile/ios/ArcadiaAssistant/Info.plist
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/auth/access-code-request.ts
  mobile/src/auth/authentication-state.ts
  mobile/src/auth/login-request.ts
  mobile/src/auth/logout-request.ts
  mobile/src/auth/oauth-error.ts
  mobile/src/auth/oauth-manager.ts
  mobile/src/auth/oauth-process.ts
  mobile/src/auth/refresh-token-storage.ts
  mobile/src/auth/secured-api-client.ts
  mobile/src/calendar/home-calendar-screen.tsx
  mobile/src/config/index.ts
  mobile/src/feeds/home-feeds-screen.tsx
  mobile/src/index.ts
  mobile/src/navigation/deep-linking.tsx
  mobile/src/navigation/top-nav-bar-styles.tsx
  mobile/src/navigation/top-nav-bar.tsx
  mobile/src/people/home-people-screen.tsx
  mobile/src/people/people-department.tsx
  mobile/src/people/people-room.tsx
  mobile/src/people/people-screen.tsx
  mobile/src/profile/profile.tsx
  mobile/src/reducers/app.reducer.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/const.ts
  mobile/src/reducers/feeds/feeds.epics.ts
  mobile/src/reducers/organization/organization.epics.ts
  mobile/src/reducers/user/user.epics.ts
  mobile/src/reducers/user/user.reducer.ts
  mobile/src/root.tsx
  mobile/yarn.lock
Labels: mobile

#80 Feature/calendar events post sickleave
  mobile/src/calendar/agenda.tsx
  mobile/src/calendar/calendar-actions-button-group.tsx
  mobile/src/calendar/calendar-legend.tsx
  mobile/src/calendar/calendar-page.tsx
  mobile/src/calendar/calendar-pager.tsx
  mobile/src/calendar/calendar.tsx
  mobile/src/calendar/days-counters/selected-day.tsx
  mobile/src/calendar/event-dialog/claim-sick-leave-event-dialog.tsx
  mobile/src/calendar/event-dialog/confirm-sick-leave-event-dialog.tsx
  mobile/src/calendar/event-dialog/event-dialog-base.tsx
  mobile/src/calendar/event-dialog/event-dialog.tsx
  mobile/src/calendar/styles.ts
  mobile/src/reducers/calendar/calendar-events.model.ts
  mobile/src/reducers/calendar/calendar-events.reducer.spec.ts
  mobile/src/reducers/calendar/calendar-events.reducer.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.spec.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.ts
  mobile/src/reducers/calendar/calendar-intervals-model.spec.ts
  mobile/src/reducers/calendar/calendar-selection-mode.reducer.ts
  mobile/src/reducers/calendar/calendar-selection.reducer.ts
  mobile/src/reducers/calendar/calendar.action.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.model.ts
  mobile/src/reducers/calendar/calendar.reducer.ts
  mobile/src/reducers/calendar/days-counters.model.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog-type.model.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.action.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.epics.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.model.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.reducer.spec.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.reducer.ts
  mobile/src/reducers/calendar/sick-leave.action.ts
  mobile/src/reducers/calendar/sick-leave.reducer.spec.ts
  mobile/src/reducers/calendar/sick-leave.reducer.ts
Labels: calendar view, mobile

#85 Complete sick leave
  mobile/src/calendar/calendar-actions-button-group.tsx
  mobile/src/calendar/calendar-legend.tsx
  mobile/src/calendar/calendar-page-interval-boundary.tsx
  mobile/src/calendar/calendar-page-interval.tsx
  mobile/src/calendar/calendar-page.tsx
  mobile/src/calendar/event-dialog/edit-sick-leave-event-dialog.tsx
  mobile/src/calendar/event-dialog/event-dialog.tsx
  mobile/src/calendar/sick-leave-action-button.tsx
  mobile/src/calendar/styles.ts
  mobile/src/reducers/calendar/calendar-events.model.ts
  mobile/src/reducers/calendar/calendar-events.reducer.spec.ts
  mobile/src/reducers/calendar/calendar-events.reducer.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.spec.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.ts
  mobile/src/reducers/calendar/calendar-intervals-model.spec.ts
  mobile/src/reducers/calendar/calendar.action.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.model.ts
  mobile/src/reducers/calendar/calendar.reducer.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog-type.model.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.epics.ts
  mobile/src/reducers/calendar/sick-leave.action.ts
  mobile/src/reducers/calendar/sick-leave.epics.ts
Labels: calendar view, mobile

#87 Feature/refactoring calendar events
  mobile/src/calendar/calendar-legend.tsx
  mobile/src/calendar/calendar-page.tsx
  mobile/src/calendar/calendar-pager.tsx
  mobile/src/calendar/calendar.tsx
  mobile/src/calendar/event-dialog/edit-sick-leave-event-dialog.tsx
  mobile/src/calendar/styles.ts
  mobile/src/reducers/calendar/calendar-event.model.ts
  mobile/src/reducers/calendar/calendar-events.model.spec.ts
  mobile/src/reducers/calendar/calendar-events.model.ts
  mobile/src/reducers/calendar/calendar-events.reducer.spec.ts
  mobile/src/reducers/calendar/calendar-events.reducer.ts
  mobile/src/reducers/calendar/calendar-intervals-builder.ts
  mobile/src/reducers/calendar/calendar-intervals-model.spec.ts
  mobile/src/reducers/calendar/calendar-selection.reducer.ts
  mobile/src/reducers/calendar/calendar.action.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.model.ts
  mobile/src/reducers/calendar/sick-leave.action.ts
  mobile/src/reducers/calendar/sick-leave.epics.ts
Labels: calendar view, mobile

#90 Feature/prolong sickleave
  mobile/src/calendar/calendar-actions-button-group.tsx
  mobile/src/calendar/sick-leave-action-button.tsx
  mobile/src/reducers/calendar/calendar-event.model.ts
  mobile/src/reducers/calendar/calendar-events.model.ts
  mobile/src/reducers/calendar/calendar-events.reducer.spec.ts
  mobile/src/reducers/calendar/calendar-events.reducer.ts
  mobile/src/reducers/calendar/calendar-intervals-metadata.model.ts
  mobile/src/reducers/calendar/calendar-selection.reducer.ts
  mobile/src/reducers/calendar/calendar.action.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.model.ts
  mobile/src/reducers/calendar/calendar.reducer.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.epics.ts
Labels: calendar view, mobile

#94 Feature/prolong sickleave
  mobile/src/calendar/calendar-actions-button-group.tsx
  mobile/src/calendar/event-dialog/edit-sick-leave-event-dialog.tsx
  mobile/src/calendar/event-dialog/event-dialog.tsx
  mobile/src/calendar/event-dialog/prolong-sick-leave-event-dialog.tsx
  mobile/src/calendar/sick-leave-action-button.tsx
  mobile/src/reducers/calendar/calendar-events.reducer.ts
  mobile/src/reducers/calendar/calendar-selection-mode.reducer.ts
  mobile/src/reducers/calendar/calendar-selection.reducer.ts
  mobile/src/reducers/calendar/calendar.action.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.reducer.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog-type.model.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.epics.ts
  mobile/src/reducers/calendar/sick-leave.action.ts
  mobile/src/reducers/calendar/sick-leave.epics.ts
  mobile/src/reducers/calendar/specs/calendar-event-created.epic.spec.ts
  mobile/src/reducers/calendar/specs/calendar-events.model.spec.ts
  mobile/src/reducers/calendar/specs/calendar-events.reducer.spec.ts
  mobile/src/reducers/calendar/specs/calendar-intervals-model.spec.ts
  mobile/src/reducers/calendar/specs/calendar-selection-mode.epic.spec.ts
  mobile/src/reducers/calendar/specs/calendar-weeks-builder.spec.ts
  mobile/src/reducers/calendar/specs/calendar.reducer.spec.ts
  mobile/src/reducers/calendar/specs/close-event-dialog.epic.spec.ts
  mobile/src/reducers/calendar/specs/convert-hours-credit-to-days.spec.ts
  mobile/src/reducers/calendar/specs/disable-calendar-selection.epic.spec.ts
  mobile/src/reducers/calendar/specs/enable-calendar-selection.epic.spec.ts
  mobile/src/reducers/calendar/specs/enable-select-intervals-by-single-day-selection.epic.spec.ts
  mobile/src/reducers/calendar/specs/intervals-by-single-day-selection.epic.spec.ts
  mobile/src/reducers/calendar/specs/open-event-dialog.epic.spec.ts
Labels: calendar view, mobile

#96 Refactoring epics
  mobile/src/reducers/calendar/calendar-events.reducer.ts
  mobile/src/reducers/calendar/calendar.action.ts
  mobile/src/reducers/calendar/calendar.epics.ts
  mobile/src/reducers/calendar/calendar.reducer.ts
  mobile/src/reducers/calendar/event-dialog/event-dialog.epics.ts
  mobile/src/reducers/calendar/specs/calendar-events.reducer.spec.ts
  mobile/src/reducers/calendar/specs/calendar-selection-mode.epic.spec.ts
  mobile/src/reducers/calendar/specs/disable-calendar-selection.epic.spec.ts
  mobile/src/reducers/calendar/specs/enable-calendar-selection.epic.spec.ts
  mobile/src/reducers/calendar/specs/enable-select-intervals-by-single-day-selection.epic.spec.ts
  mobile/src/reducers/calendar/specs/open-event-dialog.epic.spec.ts
Labels: calendar view, mobile
